@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
/* global settings */
* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
   overflow-x: hidden;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Varela Round', sans-serif;
}
section{
  padding-top: 0;
  padding-bottom: 0;
}
/*navbar*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 70;
    width: 100%;
    margin: 0;
  background-color: transparent;
  border: none;
  color: white;
  transition: all .2s ease-in-out 0.5s;
}
 .padding{
     padding: 15px;
 }
.solid{
  background-color: #9080eb;
  transition: all .2s ease 0.5s;
  box-shadow: 0 0 4px grey;
 
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menu li a, .menu li.active a {
    padding: 9px 18px;
    display: block;
    border-radius: 10px;
    transition: all .2s ease-in-out 0.5s;
    color: azure;
    font-family: 'Varela Round', sans-serif;
}

 
.menu li a.active{
transition: all .2s ease-in-out 0.5s;
    background-color: #77a6d5;
    color: #fff;
}

.button_slide {
  transition: all .2s ease-in-out 0.5s;
 margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #77a6d5;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #77a6d5;
  color: white;
}

.logo{
    display: flex;
}
.m{
        width: 76px;
        height: 34px;
             font-family: 'Fugaz One', cursive;
            border: 2px solid #C5C0FE;
            padding: 2px;
            color: #C5C0FE;
            padding: 5px;
            border-radius: 10% 0 0 10%;
}

.d{
     width: 42px;
                    font-family: 'Audiowide', cursive;
                    padding: 4px;
                    color: #806ee8;
                    background: #C5C0FE;
                    font-size: 17px;
                    border-radius: 0 10% 10% 0;
}

.logo:hover{
    background-color: #77a6d5;
    color: white;
}
/*sections colors*/

section:nth-of-type(1) {
   /* background: rgba(250, 235, 215, 0.551);*/
   background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ffffffb8, #2e10dab1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
*/
    height: 92vh;

}

section:nth-of-type(2) {
 
}

section:nth-of-type(3) {
  background: aliceblue;

}

section:nth-of-type(7) {
  background: aliceblue;

}


/*about section*/
.build{
    height: 9rem;
}
.row-intro{
    margin-top: 7rem;
    height: 73vh;
}
.hello{
    font-family: 'Varela Round', sans-serif;
    color: #473bb1;
}
.intro{
    font-size: 20px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
      color: #473bb1;
}


mark{
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
}

strong {
  position: relative;
}
strong::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: 0;
    background-image: url("../img/underline.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

p > strong {
  font-weight: 400;  
}

p> strong::after {
    bottom: -0.2rem;
    height: 0.5rem;
    left: -0.25rem;
    right: -0.25rem;
}

/*scroll down*/
.scroll-downs {
position: relative;
bottom: 6.5vh;
left: 0;
margin: auto;
width: 45px;
height: 45px;
border-radius: 30px 30px 0 0;
}

.mousey {
  width: 3px;
  padding: 7px 10px;
  height: 3vh;
  border: 2px solid rgb(241, 50, 50);
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
left: 4px;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(187, 78, 78);
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
}

#more-about{
    padding-top: 7rem;
    padding-bottom: 0;
    margin-bottom: -4rem;
}

/*
#more-about .container .info:nth-of-type(1) {
    background-color: #007bff7e;
}
#more-about .container .info:nth-of-type(2) {
    background-color: #00ff337e;
}
#more-about .container .info:nth-of-type(3) {
    background-color: #e6b7dddb;
}
*/

.info{
    border-radius:10px;
    margin-top: 1rem;
}
  
.info.center{
  padding: 20px;
}

.info-text{
  font-size: 18px;
  font-weight: 300;
}
.info:hover{
  background-color: white;
      -webkit-box-shadow:  0 8px 17px 0 rgba(64, 52, 235, 0.442), 0 6px 20px 0 rgba(64, 52, 235, 0.442) !important;
    box-shadow: 0 8px 17px 0 rgba(64, 52, 235, 0.442), 0 6px 20px 0 rgba(64, 52, 235, 0.442)!important;
    
-webkit-animation: bounce-top .6s ease-in-out both;
	        animation: bounce-top .6s ease-in-out both;
}


.wave{
display: grid;
}
.wave:nth-of-type(4) {
 background-color: aliceblue;
 position: relative;
 top: 3rem;
}
.icon-shadow{
        text-shadow: 2px 2px rgb(222, 219, 255);
}
.skill-img{
  width: 20rem;
}
.skill-card{
background-color: #ffffff70;
border-radius: 0 30px;
}
.skill-card:hover{
  background-color: white;
      -webkit-box-shadow:  0 8px 17px 0 rgba(64, 52, 235, 0.442), 0 6px 20px 0 rgba(64, 52, 235, 0.442) !important;
    box-shadow: 0 8px 17px 0 rgba(64, 52, 235, 0.442), 0 6px 20px 0 rgba(64, 52, 235, 0.442)!important;
    
-webkit-animation: bounce-top .6s ease-in-out both;
	        animation: bounce-top .6s ease-in-out both;
}
/*progress bars*/
.blob{
  position: relative;
  display: inline-block;
  z-index: 10;
}
.blob::before{
  content: "";
    position: absolute;
    background: url("../img/blob-shape.svg");
    width: 250px;
    height: 140px;
    left: -22px;
    top: -30px;
    z-index: -1;
    background-repeat: no-repeat;
}
.skills{
  margin-bottom: 3rem;
}
.progress-section {
  margin: 0px 20px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 25px;
  margin-bottom: 2px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #7768FD;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

.bg-success {
  background-color: #9b92ee !important;
}

.bg-info {
  background-color:#7f76d3 !important;
}

.bg-warning {
  background-color: #758bda !important;
}

.bg-danger {
  background-color: #4d7ce6!important;
}

.bg-default {
  background-color: #7768FD !important;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 400;
  padding: 3px 30px 2px 10px;
  color: #fafafa;
  background-color: rgba(25, 25, 25, 0.2);
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*work*/
.mockup{
    max-width: 400px;
}


.carousel .indicators .indicator-item{
    width: 20px;
    height: 20px;
}
.buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.narrow{
    margin-left: 5px;
    margin-right: 5px;
}
.one{
  color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #6f45f199;
padding: 10px;
border-radius: 20px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 12rem;
box-shadow: 0px 5px 40px -10px rgba(137, 107, 247, 0.7);
}

.one:hover{
    background: #630bf0;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(58, 7, 243, 0.97);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
/*contact */

.contact{
  margin-top: 4rem;
  padding: 7px;
  border-radius: 15px;
  -webkit-box-shadow:0 2px 2px 0 rgba(199, 147, 244, 0.37), 0 1px 5px 0 rgba(185, 123, 231, 0.39), 0 3px 1px -2px #d58dec85;;
  box-shadow: 0 2px 2px 0 rgba(199, 147, 244, 0.37), 0 1px 5px 0 rgba(185, 123, 231, 0.39), 0 3px 1px -2px #d58dec85;;
}
.contact:hover{
  box-shadow: 0 8px 17px 0 rgba(64, 52, 235, 0.442), 0 6px 20px 0 rgba(64, 52, 235, 0.442)!important;
}
.form-container{
    z-index: 10;
}
.contact-text{
  font-size: 2.1vw;
  color: #322ab7;
}
.input-field label{
  color: rgb(67, 55, 235);
  font-size: 18px;
}
.message{
    font-size: 24px;
    color: blueviolet;
    border-bottom: 1px dashed antiquewhite;
}
/*footer*/
.page-footer{
  background-color: rgba(64, 52, 235, 0.72);
}

.contact-icon{
 color: #756df1;
    font-size: 4rem;
   text-shadow:  5px 4px rgba(64, 52, 235, 0.21);
}
.up{
  font-size: 4rem;
  color: #fafafad9;
  text-shadow: 2px 2px blue;
}
.up:hover{
    color: #404cd2;
    text-shadow: 2px 2px magenta;
}

/*shapes animation*/
.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 100px;
    height: 100px;
    background: transparent;
    border-top: 3px solid rgba(220, 217, 217, 0.68);
    border-left: 3px solid rgba(220, 217, 217, 0.68);
    border-bottom: 3px solid rgba(220, 217, 217, 0.68);
    border-right: 3px solid rgba(220, 217, 217, 0.68);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 0;
    border-radius:50%;
    
}

.circles li:nth-child(1){
    left: 5%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 30%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 50%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 80%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}





@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
         
    }

    100%{
        transform: translateY(-1000px);
        opacity: 1;
        
    }

}

 

.squares{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.squares li{
    position: absolute;
    display: block;
    list-style: none;
    width: 100px;
    height: 100px;
    background: transparent;
    border-top: 3px solid rgba(220, 217, 217, 0.68);
    border-left: 3px solid rgba(220, 217, 217, 0.68);
    border-bottom: 3px solid rgba(220, 217, 217, 0.68);
    border-right: 3px solid rgba(220, 217, 217, 0.68);
    animation: animate2 25s linear infinite;
    bottom: -150px;
    z-index: 0;
    
    
}

.squares li:nth-child(1){
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}


.squares li:nth-child(2){
    left: 40%;
    width: 90px;
    height: 90px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.squares li:nth-child(3){
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.squares li:nth-child(4){
    left: 95%;
    width: 60px;
    height: 60px;
    animation-delay: 4s;
    animation-duration: 18s;
}





@keyframes animate2 {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
         
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 1;
         
    }

}

/* Slideshow container */
.slideshow-container {
 
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 45px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    transition: opacity .3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 2;
    background-color: #9b92ee8a;
    line-height: 15px;
}
.prev{
left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
 
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #758bdac4;
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #9b92ee9e;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: -1rem;
}

 .dot:hover {
  background-color: hsl(222, 71%, 50%);
}
 .dot.active {
  background-color: #0089ec;
  height: 18px;
  width: 18px;
  margin: 0 2px;
}

form .active{
    background-color: rgba(255, 255, 255, 0);
    color:darkviolet
}
/* Fading animation */
.fade {
     position: relative;
    left: -1200px;
  -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.1s;
    animation: slide 0.5s forwards;
    animation-delay: 0.1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
 


.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #ffd829;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}



@keyframes pulse {
  to {
    opacity: 1;
  }
}



#about{
  position: relative;
  overflow: hidden;
}
#about::before{
  content: '';
  background: url('/assets/img/4.png');
  background-repeat: no-repeat;
  position: absolute;
    bottom: -25%;
    left: 60%;
    width: 100%;
    height: 100%;
z-index: -1;
opacity: .4;
-webkit-animation: shake-vertical 15s ease-in-out infinite alternate both;
	        animation: shake-vertical 15s ease-in-out infinite alternate both;
}

/*media queries*/
@media (max-width: 600px) {
  .valign-wrapper{
    display: block;
  }
  .about-image{
      width: 60vw;
      height: 50vh;
  }
  .form-container{
      height: 8rem;
  }
  form{
      position: relative;
      bottom: 26rem;
      border-radius: 40px;
      background: #fafcfe9c;
  }
  .contact-button{
    margin-top: 4rem;
  }
  .contact{
    background-color: rgba(250, 250, 250, 0.871);
  }
.skill-img{
  padding-top: 10px;
}
#about::before{
  left: 10%;
  width: 90%;
  height: 90%;
}
.contact-text{
  font-size: 4.4vw;
}
}

@media (min-width: 800px) {
     #more-about .container{
      display: flex;
  }
   .menu li a, .menu li.active a{
        font-size: 17px;
    }
    .menu{
        height: 60px;
    }
    .logo{
        font-size: 14px;
    }
    .intro{
    font-size: 27px;
  }
}
@media (min-width: 650px) {
 
   .menu li a, .menu li.active a{
        font-size: 17px;
    }
    .menu{
        height: 60px;
    }
    .logo{
        font-size: 14px;
    }
 .skill-name{
    text-align: initial;
  }
  
}
@media (max-width: 500px) {
 
  form{
      position: relative;
      bottom: 23rem;
  }

}

@media (max-width: 400px) {
 
  form{
      position: relative;
      bottom: 20rem;
  }
  .menu li a, .menu li.active a {
    padding: 6px 9px;
    display: block;
    border-radius: 10px;
}
.narrow{
    width: 120px;
}
}

@media (min-width: 350px) {
    .middle-li{
        margin-left: 12px;
        margin-right: 12px;
    }
}





/* ----------------------------------------------
 * Generated by Animista on 2019-10-30 20:59:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}

.wave{
  display: grid;
}

p{

   text-align: justify;
  text-justify: inter-word;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-1 19:28:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
   0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
 
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
 
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


